@import "./../../../styles/style.variables.scss";

.root {
  //width: 100%;
  display: flex;
  flex-direction: column;

  .label {
    //display: block;
    //width: 100%;
    padding: 5px 0px;
    overflow-wrap: break-word;
  }

  .select {
    //min-width: 300px;
    //width: auto;
    cursor: pointer;
    display: inline-flex;
    height: 32px;
    background-color: white;
    border: 1px solid $font-primary;
    border-radius: 2px;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px 42px 0px 8px;

    &:focus {
      border: 1px solid $primary;
    }
  }
}
