@import "./../../styles/style.variables.scss";

.root {
  position: relative;
  //bottom: 35px;
  //height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0.7;
}

.slider {
  position: relative;
  height: 42px;
  width: 65%;
  max-width: 360px;
  background-color: #fdf0d4;
  border-radius: 2px;

  cursor: pointer;

  &:hover {
    background-color: #f0e3c9;
  }
}

.arrow {
  //width: 10%;
  width: 46px;
  height: 36px;
  background-color: #fdf0d4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;

  &:first-child {
    margin-right: 5px;
    //transform: rotate(180deg);
    svg path {
      transform: rotate(180deg);
      transform-origin: 50% 50%;
    }
  }

  &:last-child {
    margin-left: 5px;
  }
}

.svg {
  fill: $primary;
}
