@import "./../../styles/style.variables.scss";

.wrapper {
  display: inline-block;
}

.wrapper--active {
  background-color: rgba(0, 0, 0, 0.055);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  min-width: 180px;
  //width: 200px;
  //height: 60px;
  padding: 0;
  margin: 0;
  list-style: none;
  //background-color: rgba(0, 0, 0, 0.055);
  position: absolute;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px,
    rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
}

/* @import "./../../styles/style.variables.scss";

.root {
  border: none;
  padding: 0;
  background-color: rgb(255, 255, 255);

  .wrapper {
    outline: transparent none medium;
    display: inline-block;
    position: relative;
    //font-weight: 400;
    //box-sizing: border-box;
    //border: 1px solid $font-primary;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    min-width: 80px;
    height: 32px;
    //color: $font-secondary;

    user-select: none;
    padding: 0px 12px;
    border-radius: 2px;

    .container {
      display: flex;
      height: 100%;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      .svgArrow {
        fill: $primary;
      }

      .svgSmile {
        fill: $primary;
      }

      .text {
        flex-grow: 1;
        margin: 0px 4px;
        line-height: 100%;
        display: block;
        //color: $font-secondary;
        color: $primary;
        padding: 0 4px;
        //font-weight: 600;
      }
    }
  }
}

.disabled {
  //color: $disabled !important;
  //background-color: rgb(167, 167, 167);
  cursor: default;
  border: 1px solid $disabled;
  background-color: rgb(255, 255, 255);

  &:hover {
    background-color: rgb(255, 255, 255);
  }
}

.menu {
  //width: 100px;
  //height: 50px;
  //background-color: "cyan",
  position: absolute;
}
 */
