/* COLORS */
$primary: rgb(0, 120, 212);
$secondary: rgb(220, 0, 78);
$warning: #ff9800;
$info: #2196f3;
$success: #4caf50;
$error: #f44336;
$disabled: rgb(196, 196, 196);

/* SCREEN SIZE */
$small: "500px";
$medium: "800px";
$large: "1300px";
$xl: "2300px";

/* FONT */
$font-primary: rgb(73, 73, 73);
$font-secondary: rgb(83, 83, 83);
