/* COLORS */
$primary: rgb(0, 120, 212);
$secondary: rgb(220, 0, 78);
$warning: #feffad;
$success: rgb(16, 124, 16);
$error: rgb(164, 38, 44);
$disabled: rgb(196, 196, 196);

/* SCREEN SIZE */
$small: "500px";
$medium: "800px";
$large: "1300px";
$xl: "2300px";

/* FONT */
$font-primary: rgb(73, 73, 73);
$font-secondary: rgb(83, 83, 83);
