@import "./../../styles/style.variables.scss";

.root {
  display: block;
  position: relative;
  border: none;
  padding: 0;
  background-color: transparent;

  .wrapper {
    outline: transparent none medium;
    display: block;
    position: relative;
    //font-weight: 400;
    //box-sizing: border-box;
    //border: 1px solid $font-primary;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    //min-width: 80px;

    //height: 36px;
    //color: $font-secondary;

    user-select: none;
  }

  .wrapper--circle {
    padding: 10px;
    border-radius: 50%;
  }

  .wrapper--box {
    padding: 10px 15px;
  }
}

.svg {
  display: block;
}

.disabled {
  //color: $disabled !important;
  //background-color: rgb(167, 167, 167);
  cursor: default !important;
  //border: 1px solid $disabled;
  //background-color: rgb(255, 255, 255);

  &:hover {
    //background-color: rgb(255, 255, 255);
  }
}
