.container {
  margin: 5px;
  width: 320px;
  height: 180px;
  //background-color: rgba(194, 251, 253, 0.5);
  text-align: center;
  border-radius: 5px;

  .item {
    width: 320px;
    height: 180px;
  }
}
