@import "./../../styles/style.variables.scss";

.root {
  position: relative;
  border: none;
  padding: 0;
  background-color: white;
}

.wrapper {
  outline: transparent none medium;
  display: inline-block;
  position: relative;
  //font-weight: 400;
  //box-sizing: border-box;
  //border: 1px solid $font-primary;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  min-width: 80px;

  height: 36px;
  //color: $font-secondary;

  user-select: none;
  padding: 8px 14px;
  border-radius: 2px;

  .container {
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;

    .svgEnd {
      margin-left: 6px;
      justify-self: flex-end;
    }

    .svgStart {
      margin-right: 6px;
      justify-self: flex-start;
    }

    .text {
      justify-self: flex-start;
      //flex-grow: 1;
      //margin: 0px 4px;
      line-height: 100%;
      display: block;
      color: $font-secondary;
      //color: $primary;
      padding: 0 4px;
      font-weight: 400;
    }
  }
}

.inputLabel {
  position: relative;
  //top: 0;
  //left: 0;
  display: block;
  width: 100%;
  height: 100%;
  //opacity: 0;
}

.disabled {
  //color: $disabled !important;
  //background-color: rgb(167, 167, 167);
  cursor: default;
  //border: 1px solid $disabled;
  background-color: rgb(255, 255, 255);

  &:hover {
    background-color: rgb(255, 255, 255);
  }
}
