.showDescButton {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 1310;
}

.downloadIcon {
  position: fixed;
  top: 160px;
  right: 20px;
  z-index: 1310;
}

.controlPanel {
  position: fixed;
  bottom: 80px;
  height: 0px;
  width: 100%;
}

.imgZoomControlPanel {
  position: fixed;
  top: 30px;
  height: 0px;
  width: 100%;
}
