.root {
  width: 100%;
  height: 100%;

  animation: shimmer 2s ease-in-out 0.5s infinite;

  display: block;
  background-color: rgba(0, 0, 0, 0.11);
}

.rect {
  border-radius: 2px;
}

.circle {
  border-radius: 50%;
}

.tag {
  border-radius: 16px;
  width: 100px;
  height: 32px;
}

@keyframes shimmer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
