@import "./../../../styles/style.variables.scss";

.label {
  font-size: 14px;
  border: 1px solid $font-secondary;
  text-align: center;
  cursor: pointer;

  padding: 4px 16px;
  border-radius: 16px;
  min-width: 80px;
  height: 32px;
  color: $font-secondary;
}

.label-primary--checked {
  border: 1px solid $primary;
  color: $primary;
}

.label-secondary--checked {
  border: 1px solid $secondary;
  color: $secondary;
}

.label-warning--checked {
  border: 1px solid $warning;
  color: $warning;
}

.label-info--checked {
  border: 1px solid $info;
  color: $info;
}

.label--disabled {
  border: 1px solid $disabled;
  color: $disabled;
  cursor: default;
}

.input {
  display: none;
}
