/* @import "./../../../styles/style.variables.scss";

.tagsWrapper {
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
}

.tagsContainer {
  list-style: none;
  padding: 20px 15px;
 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tagsTitle {
  position: absolute;
  top: 10px;
  left: 20px;
  background-color: white;
  //color: $font-primary;
  //text-align: center;
}
.tags {

  padding-top: 10px;
  margin-right: 8px;
} */
